* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #FEFCF3;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #65647C;
    z-index: 1;
    border-bottom: 1px #65647C;
}

.video {
    text-align: center;
    padding-top: 80px;
}

.video h1{
    color: #434242;
    margin-top: 30px;
    margin-bottom: 10px;
}
